@import 'src/app/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;

  @include phones {
    margin-top: 35%;
  }
}

.info {
  margin-top: 5rem;
  margin-bottom: 3rem;

  & > div {
    width: 37.5rem;

    @include phones {
      width: 100%;
    }
  }
}
