@import 'src/app/styles/variables.scss';
@import 'src/app/styles/font-settings';
@import 'src/app/styles/mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  @include phones {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }

  & h2 {
    @include fontSettings($font-size-large, $font-extra-bold, $color-txt);
    text-align: center;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-top: 4rem;
  margin-bottom: 3.125rem;

  @include phones {
    width: 100%;
  }
}

.submit {
  width: 100%;
}
