@import 'src/app/styles/mixins.scss';

.main {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 10%;
  width: 100%;

  @include phones {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
  }
}

.left {
  display: flex;
  flex-direction: column;
  margin-top: 6.25rem;
  margin-right: 3%;
  margin-left: 5%;
}

.right {
  display: flex;
  justify-content: center;
  margin: 7rem auto 10% auto;
}

.container {
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
