@import 'src/app/styles/variables.scss';
@import 'src/app/styles/font-settings';
@import 'src/app/styles/mixins.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5% 1%;
  height: 100vh;

  &_registered {
    background-image: url('@/assets/images/finger-auth-layout.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  position: relative;
  align-items: center;

  & p {
    position: absolute;
    justify-content: center;
    align-items: center;
    @include fontSettings($font-size-xs, $font-regular, #565656);
    top: 38%;
    left: 21%;
    text-transform: lowercase;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;

  &_menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px 0px 0px 30px;
    background: #202020;
    padding: 37px 13px 64px 13px;
    width: fit-content;
    max-width: 100%;
    height: 100%;
  }
}

.navigate,
.logout {
  @include fontSettings(18px, $font-regular, $color-txt);
  padding: 0 27px;
}

.toggle {
  display: flex;
  justify-content: space-between;
}

.navigate {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 55px;
  margin-bottom: auto;
}

.logout {
  align-self: center;
}

.badge {
  align-self: end;
  padding-top: 20px;
  padding-bottom: 10px;
}

.line {
  align-self: center;
  padding-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.install {
  align-self: center;
  width: fit-content;
}
