@import 'src/app/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;

  & img {
    @include phones {
      width: 15px !important;
      height: 15px !important;
    }
  }
}

.date {
  display: flex;
  gap: 1rem;

  @include phones {
    flex-direction: column;
    gap: 2rem;
  }
}

.calendar {
  width: 100%;
}
