@import 'src/app/styles/variables.scss';
@import 'src/app/styles/font-settings';
@import 'src/app/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @include phones {
    width: 100%;
  }
}

.button {
  margin-bottom: 1.875rem;
  margin-left: auto;
  width: fit-content;

  @include phones {
    margin-left: none;
    width: 100%;
  }
}

.empty {
  @include fontSettings($font-size-2xl, $font-regular, $color-txt-soft);
}
