@import 'src/app/styles/variables.scss';
@import 'src/app/styles/font-settings';
@import 'src/app/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.title {
  margin: 1rem 0;
  @include fontSettings($font-size-lg, $font-regular, $color-txt);

  & span {
    color: red;
  }
}

.text {
  &_input {
    border-radius: 1.75rem;
    width: 35.875rem;
    height: 6.75rem;

    @include phones {
      width: 100%;
    }
  }
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.rating {
  display: flex;
  gap: 1.25rem;
}
